@model PagedList.IPagedList<MyStore.Models.GENRE>
@using PagedList.Mvc;
@using MyStore.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    int hh=0;
}



@if (ViewBag.Message == "La réduction de prix des articles sont effectuées avec succès"||ViewBag.Message== "Les suppressions sont effectuées avec succèes") {

<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> @ViewBag.Message
</div>
}
@*else
{
    <div class="ddd">
      
    </div>
}*@

<div class="container-table-cart pos-relative" style="width: 85%;height:80%;margin-left:100px">
    <div class="wrap-table-shopping-cart bgwhite">
        <table class="table-shopping-cart">

            <tr class="table-head">

                <th class="column-1"></th>
                <th class="column-2">Article </th>
                <th class="column-3"> Nombre</th>
                <th class="column-4"> Prix</th>
              
            </tr>
            @{ 
                int i;
            }
            @foreach (var item in Model)
                {

                    hh = item.IdGenre;

                <tr class="table-row">
                   
                    <td class="column-1">
                        <div class="cart-img-product b-rad-4 o-f-hidden">
                            @*<img src="images/item-10.jpg" alt="IMG-PRODUCT">*@
                            <img src="@Url.Content(item.Image)"style="width: 60px;height: 80px;" alt="IMG-PRODUCT">
                        </div> 
                    </td>
                    <td class="column-2"> @item.NomGenre </td>

                    <td class="column-3"> @item.NbrGenre </td>


                    <td class="column-4"> @item.Prix</td>
                  
               
                
                    <td class="column-3"> <a href=""data-toggle="modal" data-target="#myModal" class="btn btn-primary"> Remise </a></td>
                    <td class="column-3"> <a href="@Url.Action("Edit","CRUD",new  {@Id= item.IdGenre })" class="btn btn-default">Editer</a></td>
             
                    @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@
                  
                      
                        <!-- Modal -->
              





<td class="column-3"> <a href="@Url.Action("Delete","CRUD",new  {@Id= item.IdGenre })" class="btn btn-danger">supprimer</a></td>
                   


                </tr>

              
            }
        </table>
       
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content--><form class="leave-comment" action="~/CRUD/Remise">
                    <div class="modal-content" style="margin-left: -140%;width: 80%;margin-top: 25%;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Reduction du prix</h4>
                        </div>
                        <div class="modal-body">


                            <div class="form-group">
                                <div class="col-md-12">
                                    Réduction :
                                    <div class="bo4 of-hidden size15 m-b-20">
                                        <input class="sizefull s-text7 p-l-22 p-r-22" style="margin-top: 1px;" type="text" name="Reduction" placeholder="Pourcentage du remise (ex:10%) ">
                                        <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="id" value="@hh">

                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="Tout" value="Un"> Un article </label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="Tout" value="Tout">Pour tous les articles</label>
                                    </div>

                                </div>

                            </div>
                            <div class="w-size25">
                   


                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="btn2" class="btn btn-info ">
                                Valider
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<h6>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) sur @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, III = ANDRANA.IDUSER }))
</h6>



<!-- Modal -->
