@model PagedList.IPagedList<MyStore.Models.GENRE>
@using PagedList.Mvc;
@using MyStore.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index1";
}




<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <div class="leftbar p-r-20 p-r-0-sm">
                    <!--  -->
                  <h4 class="m-text14 p-b-7">
  
    Catégories

                      
                    </h4>

                    <ul class="p-b-54">
                        <li class="p-t-4">
                            <a href="@Url.Action("Index1","ACCUEIL",new  {})" class="s-text13 active1">
                                Tous les catégories
                            </a>
                        </li>
                        <li class="p-t-4">
                            <a href="@Url.Action("Index1","ACCUEIL",new  {@Pour="homme"})" class="s-text13">
                                Hommes
                            </a>
                        </li>

                        <li class="p-t-4">
                            <a href="@Url.Action("Index1","ACCUEIL",new  {@Pour="enfant"})" class="s-text13">
                                Enfants
                            </a>
                        </li>
                        <li class="p-t-4">
                            <a href="@Url.Action("Index1","ACCUEIL",new  {@Pour="femme"})" class="s-text13">
                                Femmes
                            </a>
                        </li>

                        @{
                            MyStoreEntities4 db = new MyStoreEntities4();
                            List<CATEGORIE> CatLisL = new List<CATEGORIE>();
                            //List<PANIER> PanLisL = new List<PANIER>();
                            //PanLisL = db.PANIER.ToList();
                       

                            CatLisL = db.CATEGORIE.ToList();
                        }
                        @if (CatLisL != null)
                        {
                            foreach (CATEGORIE c in CatLisL)
                            {
                                if (c.NomCat != null)
                                {
                                    <li class="p-t-4">
                                        <a href="@Url.Action("Index1","ACCUEIL",new  {@IdCat=c.IdCat})" class="s-text13">
                                            @c.NomCat
                                        </a>
                                    </li>
                                }
                            }
                          
                        }

                      
                    </ul>

                    <!--  -->
                    <h4 class="m-text14 p-b-32">
                        Filters 
                    </h4>
                 

                    <div class="search-product pos-relative bo4 of-hidden">
                        <form method="get" action="/ACCUEIL/Index1">
                            <input  class="s-text7 size6 p-l-23 p-r-50" name="r" type="text" placeholder="Rechercher des articles...">

                            <button  type="submit" class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
                                <i class="fs-12 fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
               
                </div>
            </div>
          
            <div id="table" class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                <div class="row">
                    @foreach (var item in Model.Where(x => x.Etat=="false"))
                    {

                        if(item.Nouveau == "true") {
                            if (item.Prix != item.Prix1)
                            {
                            <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                             
                                <div class="block2">
                                    <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">

                                        <img src="@Url.Content(item.Image)"  height="370" alt="IMG-PRODUCT">

                                        <div class="block2-overlay trans-0-4">
                                            <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                                <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                                <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                            </a>

                                            <div class="block2-btn-addcart w-size1 trans-0-4">
                                               
                                                <a href="@Url.Action("Details","ACCUEIL",new  {@IdGenre=item.IdGenre,@IdProd=item.IdProd })" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">Acheter</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="block2-txt p-t-20">
                                        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                            @item.NomGenre

                                        </a>

                                        <span class="block2-oldprice m-text7 p-r-5">
                                            @item.Prix AR
                                        </span>
                                        <span class="block2-newprice m-text8 p-r-5">
                                            @item.Prix1 AR
                                        </span>
                                    </div>
                                </div>
                            </div>
                            }
                            else
                            {
                                <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                                    <!-- Block2 -->
                                    <div class="block2">
                                        <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew ">
                                            <img src="@Url.Content(item.Image)"height="370" alt="IMG-PRODUCT">

                                            <div class="block2-overlay trans-0-4">
                                                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                                </a>

                                                <div class="block2-btn-addcart w-size1 trans-0-4">

                                                    <a href="@Url.Action("Details","ACCUEIL",new  {@IdGenre=item.IdGenre,@IdProd=item.IdProd })" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">Acheter</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="block2-txt p-t-20">
                                            <a href="@Url.Action("Details","ACCUEIL",new  {@IdGenre=item.IdGenre,@IdProd=item.IdProd  })" class="block2-name dis-block s-text3 p-b-5">
                                                @item.NomGenre

                                            </a>

                                            <span class="block2-price m-text6 p-r-5">
                                                @item.Prix Ar
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            if (item.Prix != item.Prix1)
                            {
                                <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">

                                    <div class="block2">
                                        <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">

                                            <img src="@Url.Content(item.Image)"height="370" alt="IMG-PRODUCT">

                                            <div class="block2-overlay trans-0-4">
                                                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                                </a>

                                                <div class="block2-btn-addcart w-size1 trans-0-4">

                                                    <a href="@Url.Action("Details","ACCUEIL",new  {@IdGenre=item.IdGenre,@IdProd=item.IdProd })" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">Acheter</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="block2-txt p-t-20">
                                            <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                                @item.NomGenre

                                            </a>

                                            <span class="block2-oldprice m-text7 p-r-5">
                                                @item.Prix AR
                                            </span>
                                            <span class="block2-newprice m-text8 p-r-5">
                                                @item.Prix1 AR
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                                    <!-- Block2 -->
                                    <div class="block2">
                                        <div class="block2-img wrap-pic-w of-hidden pos-relative">
                                            <img src="@Url.Content(item.Image)"height="370" alt="IMG-PRODUCT">

                                            <div class="block2-overlay trans-0-4">
                                                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                                </a>

                                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                                 
                                                    <a href="@Url.Action("Details","ACCUEIL",new  {@IdGenre=item.IdGenre,@IdProd=item.IdProd })" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">Acheter</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="block2-txt p-t-20">
                                            <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                                @item.NomGenre

                                            </a>

                                            <span class="block2-price m-text6 p-r-5">
                                                @item.Prix AR
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                       

                  
                    
                </div>

            </div>



        </div>
        </div>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
        appId: '479494735791597',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-messengermessageus"
         messenger_app_id="479494735791597"
         page_id="1304383322907346"
         color="blue "
         size=" large">
    </div>
</section>
<h6 style="margin-left:30%;margin-top: -100px;">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) sur @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index1",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</h6>


<script type="text/javascript" src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/Content/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/Content/vendor/bootstrap/js/popper.js"></script>
<script type="text/javascript" src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/Content/vendor/select2/select2.min.js"></script>

<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
		$("#searchBtn").click(function () {
		    var searchValue = $("#searchTxt").val();
		    alert(searchValue);
		    $.ajax({
		        url: '/ACCUEIL/Index1',
		        data: {
		            article : searchValue
		        }
		    })
            .done(function (data) {
                alert(data);
               // $("#tab1").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail  gqdfgsdgsgs");
            });

		});

</script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/Content/vendor/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="~/Content/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/Content/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="~/Content/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/Content/vendor/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
</script>

<!--===============================================================================================-->
<script type="text/javascript" src="~/Content/vendor/noui/nouislider.min.js"></script>
<script type="text/javascript">
		/*[ No ui ]
	    ===========================================================*/
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 50, 200 ],
	        connect: true,
	        range: {
	            'min': 50,
	            'max': 200
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]) ;
	    });
</script>
<!--===============================================================================================-->
<script src="~/Content/js/main.js"></script>
